#*.[oa]
*~
\#*\#
/core
ext/*/
Makefile
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
/postinst
*.hh
moc_*.cxx
moc_*.cxx_parameters
qrc_*.cxx
*.qrc.depends
*DynSk.cpp
*Sk.cpp
/.cproject
/.project
/.settings/
/install_manifest.txt
/bin
/usr
/lib
/include/cnoid/omniORBpy.h
/include/cnoid/corba
/share/icon/
/share/locale
/share/project/*.cnoid
/Doxyfile
/html
gettext.h
messages.pot





